<h1> Posts </h1>

<% @posts.each do |post| %>
	<h3><%=post.title %></h3>
	<p> <%= post.content %></p>
	<% if logged_in? %>
	<h5>Author: <%= post.user.name %></h5>
	<% end %>
<% end %>

<%= link_to "Create Post", new_post_path %>

